<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- bootstrap - link cdn -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<div class="sair">
					<a href="/"><button type="button" class="btn btn-info float-end">Sair</button></a>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	
			<div class="row">
	    		<div class="col-md-3 casa">
					<img src="images/casa_<%= data.casa %>.jpg" class="img-fluid" />
				</div>

	    		<div class="col-md-9">
					<div class="row barra-superior">
<div class="col-md-2"> 
						<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" class="img-fluid" />
							<span>754</span>
						</div>
						
<div class="col-md-2"> 
						<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria" class="img-fluid" />
							<span>754</span>
						</div>
						
<div class="col-md-2"> 
						<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio" class="img-fluid" />
							<span>754</span>
						</div>
						
					<div class="col-md-2"> 
						<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia" class="img-fluid" />
							<span>754</span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9">
					<div class="acoes"></div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-md-1">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" class="img-fluid" />
					</div>
					
					<div class="col-md-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" class="img-fluid" />
					</div>
					
					<div class="col-md-8"></div>
					
					<div class="col-md-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda" class="img-fluid" />
						<span>25</span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>