.principal {
    width: 20%;
    background-color: rgb(126, 124, 124);
    margin: 0 auto;
    margin-top:50px;
    padding: 20px;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
body {
    background-color: #283040;
    text-align: center;
}
h1{
    background: #283040;
    margin-top: 0;
    border: 5px solid black;
    color: white
}
img{
    border: 3px solid black;
    margin: 0 auto;
    margin-top: 50px;
}
input{
    margin-top: 10px;
}