.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.game{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: gray;
}
.clicked{
    background-color: rgb(193, 187, 187);
}