/*Body*/

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.655);
    }
    body *{
        font-family: Arial, Helvetica, sans-serif;
    }

/*Styles for the calculator*/

    /*Main Block*/

        .principalBlock{
            width: 25dvw;
            height: 80dvh;
            margin-bottom: 10dvh;
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
            background-color: orange;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

    /*Title Block*/

        .titleBlock{
            width: 25dvw;
            height: 10dvh;
            background-color: orange;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .title{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
        }
        .line{
            width: 100%;
            height: 1px;
            background-color: black;
            border: 1px solid black;
            margin: 0;
        }

    /*Calculator Block*/

        .calculatorBlock{
            width: 25dvw;
            height: 60dvh;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: start;
            flex-direction: column;
            background: none;
        }

        /*Divs inside of the Calculator Block*/

            /*Name Div, Height Div, Weight Div*/

                .nameDiv, .heightDiv, .weightDiv{
                    margin: 0 auto;
                    width: 90%;
                    height: 10dvh;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-self: center;
                    align-items: center;
                }
                .name,.height,.weight{
                    font-size: 15px;
                    font-weight: bold;
                    width: 20%;
                    padding-right: 20px;
                    text-align: center;
                
                }
                .nameInput,.heightInput,.weightInput{
                    padding-left: 5px;
                    width: 80%;
                    height: 50%;
                    border: none;
                    font-size: 10px;
                    margin: 0 auto;
                    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
                }

            /*Button Div*/

                .buttonDiv{
                    width: 90%;
                    height: 10dvh;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .button{
                    width: 50%;
                    height: 40%;
                    border: none;
                    background-color: black;
                    color: white;
                    font-size: 15px;
                    font-weight: bold;
                    cursor: pointer;
                }
                .button:hover{
                    animation: buttonAnimation 0.5s forwards;
                }

            /*Result Div*/

                .resultDiv{
                    width: 90%;
                    height: 20dvh;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-color: black;
                }
                .result{
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                }

/*Animations*/

    /*Button Animation*/
        @keyframes buttonAnimation{
            0%{
                transform: translateY(0);
            }
            100%{
                transform: translateY(-5px);
                box-shadow: 0px 2px 5px 2px rgba(255, 255, 255, 1);
            }
        }

