.nome{
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    display: flex;
    margin-bottom: 50px;
    background-color: rgba(128, 128, 128, 0.815);
    margin-top: 50px;
    border: 4px solid black;
}
.sectionPrincipal{
    background-color: rgba(128, 128, 128, 0.815);
    padding: 200px;
    display: grid;
    justify-content: center;
    border: 4px solid black;
}
.sectionSecundaria{
    margin-top: 70px;
    
    
}
.sectionResposta{
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}
body{
    display: grid;
    justify-content: center;
    background-color: rgb(0, 153, 255);
}