.time{
    width: 25%;
    background-color: rgb(112, 108, 108);
    border-radius: 200px;
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin-top: 100px;
    border: 3px solid black;
    color: black;
    font-family: 'Orbitron', sans-serif;

}
.align{
    display: inline-flex;
    border-radius: 100px;
    width: 5%;
    justify-content: center;
    padding: 10px;
    margin-top: 200px;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;

}
.start{
    background-color: #556B2F;
    margin-left: 35px;
    font-weight: bold;
}
.fundo{
    background-color:#2E2E2E;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;
    margin: 0 auto;
    justify-items: center;
    border: 4px solid black;
    display: flexbox;
    margin-top: 140px;
}
.pause{
    background-color:rgb(112, 108, 108);
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}
.reset{
    background-color: rgba(255, 0, 0, 0.568);
    font-weight: bold;
}
.background-video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}
